$myfont: Georgia 1.2em;
$table_head_col: #ddd;
$table_row_col: $table_head_col;
$table_bor_col: #eee;
$container_width: 700px;
$first_col_width: 150px;

$mainFontColor: navy;
$fontSizeRegular: 1.3em;
$fontSizeSmall: $fontSizeRegular * 0.6;