@import "variables";

div.container {
	font: $myfont;
	width: $container_width;

	.sassTest {
		p {
			color: $mainFontColor;
			font-size: $fontSizeRegular;
		}
		div.footer {
			font-size: $fontSizeSmall;
			color: #666;
			border-top: 1px solid #ccc;
			padding-top: 3px;
		}
	}
}

table {
	tr:nth-child(odd) {
		background: $table_row_col;
	}

	td:first-child {
		width: $first_col_width;
	}

	th {
		background-color: $table_head_col;
	}

	border: 3px solid $table_bor_col;
}

h1 {
	background: rgb(255, 255, 255);
	background: linear-gradient(30deg, lighten($table_head_col, 40%) 10%, $table_head_col 100%);
	border: 1px solid #eee;
}
