@font-face {
	font-family: OpenSans;
	src        : url('../fonts/OpenSans-Regular.ttf');
}

body {
	min-height         : 100vh;
	background         : #ccc;
	color              : white;
	background-image   : url('../images/test.jpg');
	background-position: center;
	background-repeat  : no-repeat;
}